<footer class="container mx-auto px-5 py-8 flex flex-col relative border-t border-featured">
  <div class="absolute top-0 left-0 w-full text-center sm:text-left sm:flex justify-between items-center py-5 px-5 z-10">
    <p class="mb-5 sm:mb-0 uppercase text-2xl basis-full">Contact us</p>
    <nav class="flex justify-center sm:justify-end w-full gap-3">
      <a href="#" class="pr-2 inline-block">Book Now</a>
      <a href="#" class="pr-2 inline-block">Location</a>
      <a href="#" class="pr-2 inline-block">Menu</a>
      <a href="#" class="inline-block"><i class="fa-brands fa-instagram"></i></a>
    </nav>
  </div>
</footer>
