<section class="py-14">
  <div class="grid sm:grid-cols-5">
    <div class="col-span-3 relative min-h-50 sm:min-h-[80vh]">
      <img src=" {{block.image}}" class="absolute object-cover right-0 top-0 bottom-0 left-0 w-full h-full" style="object-position: {{block.image-position}};" alt="{{block.image-alt}}">
      <div class="relative flex flex-col h-full justify-between text-base">
          <div class="text-center">
            <p class="pt-5"> {{block.centered-text-on-image}}</p>
          </div>
          <div class="p-5">
            <a href="{{block.lower-text-on-image-url}}"> {{block.lower-text-on-image}} </a>
          </div>
      </div>
    </div>
    <div class="col-span-2 flex flex-col justify-between max-w-md px-5">
      <div>
        <p class="font-serif text-2xl">{{block.right-side-top-text}}</p>
      </div>
      <div>
        <p class="pb-2"> {{block.right-side-bottom-text-heading}}  </p>
        <p> {{block.right-side-bottom-text-paragraph}} </p>
      </div>
    </div>
  </div>
</section>



 