<section class="py-7 sm:py-14">
  <div class="px-7 sm:px-14">
    <div class="relative min-h-[40vh] sm:min-h-[60vh] flex flex-col items-end justify-end">
      <img src="{{ block.image }}" class="absolute object-cover right-0 top-0 bottom-0 left-0 h-full w-full" style="object-position: {{block.image-position}};" alt="{{block.image-alt}}">
      <div class="relative w-full pb-5 pr-5"> 
        <a href="https://calendly.com/refinedislandcreations/consultation-call" class="text-lg text-right text-base block">{{ block.title }} </a>
      </div>
    </div>
  </div>
</section>