


<section class="container mx-auto max-w-md mt-[10%] px-5 mb-[15%]" id="section-{{forloop.index}}">
  <div class="flex flex-row justify-center gap-5 mb-[10%]">
    <button class="filterbutton font-semibold underline" data-filter="all">All</button>
    {% for item in block.filter %}
    <button class="filterbutton" data-filter="{{item | replace:' ','-' }}">{{item}}</button>
    {% endfor %}
  </div>
  {% assign dishes = site.data.dishes.dish | where_exp: "dish", "dish.mealtime contains block.mealtime" %}
  {% for item in dishes %}
     <div class="filterdish all {% for cat in item.categories %} {{cat | replace:' ','-'}} {% endfor %}">   
    <div class="flex flex-row justify-between border-b border-featured">
      <div>
        <p>{{ item.name }} {% for cat in item.categories %}
            {% if cat == 'vegan' %} <i class="fa-solid fa-leaf pl-2"></i> {% endif %}
            {% if cat == 'vegetarian' %} <i class="fa-solid fa-carrot pl-2"></i> {% endif %}
            {% if cat == 'pescatarian' %} <i class="fa-solid fa-fish pl-2"></i> {% endif %}
          {% endfor %}
        </p>

      </div>
      <div>
        <p> {{ item.price }}</p>
      </div>
    </div>
    <div class="pb-5">
      <p> {{ item.description }}</p>
     
    </div>
</div>
  {% endfor %}
</section>


<script>
  const filterButtons{{forloop.index}} = document.querySelectorAll("#section-{{forloop.index}} .filterbutton")
const filterDishes{{forloop.index}} = document.querySelectorAll("#section-{{forloop.index}} .filterdish")


function filterDish{{forloop.index}}() {
  filterButtons{{forloop.index}}.forEach(button => {
    button.classList.remove("font-semibold")
    button.classList.remove("underline")
  })
  this.classList.add("font-semibold")
  this.classList.add("underline")
  console.log(this.dataset.filter)
  filterDishes{{forloop.index}}.forEach(dish => {
    if (dish.classList.contains(this.dataset.filter)){
      dish.classList.remove("hidden")
    } else {
      dish.classList.add("hidden")
    }
  })
}

filterButtons{{forloop.index}}.forEach(button => {
  
  button.addEventListener("click", filterDish{{forloop.index}}
)})
</script>