<section class="py-7 sm:py-14">
  <div class="px-7 sm:px-14">
    <div class="py-7 sm:py-14 relative min-h-[40vh] sm:min-h-[60vh]">
      <img src="{{ block.image }}" class="absolute object-cover right-0 top-0 bottom-0 left-0 h-full w-full" style="object-position: {{block.image-position}};" alt="{{block.image-alt}}">
      <div class="absolute w-full flex flex-col items-center justify-end"> 
        <h4 class="font-serif text-6xl sm:text-8xl">{{ block.title }} <hr class="relative border-2 border-featured w-screen"> </h4>
      </div>
    </div>
  </div>
</section>



