<section class="container mx-auto px-5 py-8 ">
  <div class="grid grid-cols-12 gap-5">
    <div class="col-span-6 flex flex-col justify-between">
        <div>
          <p class="font-serif text-2xl max-w-md">{{block.left-upper-text}}</p>
        </div>
        <div>
          <p class="max-w-md">{{block.left-lower-text}} </p>
        </div>
    </div>
    <div class="col-span-3 relative min-h-80">
        <img src="{{ block.image }}" class="absolute object-cover right-0 top-0 bottom-0 left-0 w-full h-full border-l border-r border-featured px-5" style="object-position: {{block.image-position}};" alt="{{block.image-alt}}">
    </div>
    <div class="col-span-3 self-end">
      <p class="max-w-sm">{{block.right-text}} </p>
    </div>
  </div>

</section>

